<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">


<!--    <insert id="insert">-->
<!--        insert into sys_user(user_name, user_password, user_role, user_emile, user_school, user_phone)-->
<!--        VALUES(#{userName},#{userPassword},#{userRole},#{userEmile},#{userSchool},#{userPhone})-->
<!--    </insert>-->

<!--    <update id="update">-->

<!--    </update>-->
</mapper>