<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UtileMapper">


<!--    <select id="getById" resultType="java.lang.Boolean">-->
<!--        -->
<!--    </select>-->
<!--    <insert id="insertById" >-->
<!--        insert into class_student(class_id,student_id) values (#{classId},#{studentId})-->
<!--    </insert>-->

</mapper>